<!doctype html>
<html lang="en">

<head>
  <title>April 2018</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <style type="text/css">
    .row > .col-md-4 { margin-top: 40px; }
  </style>
</head>

<body>
  <main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">{{ date }}</h1>
      </div>
    </div>
    <div class="container">
      <h1>Total Hours Spent</h1>
      {% for d in df %}
        <p>{{ d['category'] }} - {{ d['diff_hours'] }} hrs</p>
      {% endfor %}

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>ND</h2>
          <ul class="list-group">
            <li class="list-group-item"># of days <span class="badge badge-primary badge-pill">24</span></li>
            <li class="list-group-item">Longest Streak <span class="badge badge-primary badge-pill">15</span></li>
            <li class="list-group-item"># of days missed <span class="badge badge-primary badge-pill">6</span></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2>Study - IxD</h2>
          <ul class="list-group">
            <li class="list-group-item"># of days <span class="badge badge-primary badge-pill">11 / 21</span></li>
            <li class="list-group-item">Longest Streak <span class="badge badge-primary badge-pill">6</span></li>
            <li class="list-group-item"># of chapters finished <span class="badge badge-primary badge-pill">26</span></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2>Book</h2>
          <ul class="list-group">
            <li class="list-group-item"># of days <span class="badge badge-primary badge-pill">4 / 21</span></li>
            <li class="list-group-item">Longest Streak <span class="badge badge-primary badge-pill">2</span></li>
            <li class="list-group-item"># of pages read <span class="badge badge-primary badge-pill">~20 pages</span></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2>Football</h2>
          <ul class="list-group">
            <li class="list-group-item"># of hours played <span class="badge badge-primary badge-pill">8 hrs in 4 days</span></li>
            <li class="list-group-item"># goals scored <span class="badge badge-primary badge-pill">~13</span></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <!-- /container -->
  </main>
  <footer class="container">
    <p>&copy; kaizer1v 2018</p>
  </footer>

  <script src="../node_modules/jqyery/dist/jquery.min.js"></script>
  <script src="../node_modules/d3/dist/d3.min.js"></script>
  <script src="../node_modules/boostrstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript">

  </script>
</body>
</html>
